# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Alembic
alembic/versions/__pycache__/

# PDF output
*.pdf
.agents
readme.md
API_DOCs.md